doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content="default-src 'none'; img-src *; style-src * 'unsafe-inline'; script-src 'nonce-check';")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", nonce="check", href=cssFile)
    body.bg-dark(style='padding-top:70px;')
        .navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-sm
            a.navbar-brand(href='#') Test Report

        .container
            .row
                .col
                    .navbar.bg-dark
                        .navbar-text.lead.text-light #{test.replace("#", ".")}
            .row
                .col
                    table.table.table-hover.table-dark.bg-dark
                        tbody
                            tr
                                th Status
                                td
                                    if !result
                                        span Not run
                                    else if result.status === 'Pass'
                                        span.badge.badge-success Passed
                                    else if result.status === 'Fail'
                                        span.badge.badge-danger Failed
                                    else
                                        span.badge.badge-secondary Skipped
                            tr
                                th Duration
                                td #{result && result.duration ? result.duration + " ms" : "N/A"}
                            tr
                                th(colspan=2) Message:
                            tr
                                td(colspan=2) #{result && result.message ? result.message : "N/A"}
                            tr
                                th(colspan=2) Stack trace:
                            tr
                                td(colspan=2)
                                    if result && result.details
                                        pre.text-light: code #{result.details}
                                    else
                                        span N/A

