doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content="default-src 'none'; img-src *; style-src * 'unsafe-inline'; script-src 'nonce-check';")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", nonce="check", href=cssFile)
    body.bg-dark.text-light
        div Test report of method: #{test.replace("#", ".")}
        hr.bg-light
        #status
            span Status: #{result ? result.status : "Not run"}
        #duration
            span Duration: #{result && result.duration ? result.duration + " milliseconds" : "N/A"}
        #message
            span Message: #{result && result.message ? result.message : "N/A"}
        #callstack
            span CallStack:
                if result && result.details
                    pre.text-light: code #{result.details}
                else
                    span N/A
