mixin methodTable(children)
    table(class="table")
        thead(class="thread-light")
            tr
                th(scope="col") Method
                th(scope="col") Status
                th(scope="col") Duration(ms)
                th(scope="col") Message
                th(scope="col") StackTrace
        tbody
            each child in children
                tr
                    td #{child.test.replace("#", ".")}
                    td #{child.result ? child.result.status : "Not run"}
                    td #{child.result && child.result.duration ? child.result.duration : "N/A"}
                    td #{child.result && child.result.message ? child.result.message : "N/A"}
                    td
                        if child.result && child.result.details
                            pre: code #{child.result.details}
                        else
                            span N/A
