include ./report_method_table.pug
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content="default-src 'none'; img-src *; style-src * 'unsafe-inline'; script-src 'nonce-check';")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", nonce="check", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    body
        div Test report of class: #{test}
        hr
        #status(class="container")
            .row
                .col-sm
                    span Run:
                        span(class="badge badge-info") #{passCount + failedCount + skippedCount}/#{totalCount}
                .col-sm
                    span Failed:
                        span(class="badge badge-danger") #{failedCount}
                .col-sm
                    span Passed:
                        span(class="badge badge-success") #{passCount}
        #color-status(class="progress")
            - var tag = (failedCount > 0 ? "bg-danger" : (passCount + skippedCount == totalCount ? "bg-success" : "bg-warning"))
            div(class="progress-bar " + tag, role="progressbar", style="width: 100%", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100")
        if result && result.summary
        #summary Summary: #{result.summary}
        #filter
            label
                input(type="radio", name="test", value="all", checked ="checked")
                | All tests&nbsp;
            label
                input(type="radio", name="test", value="passed")
                | Passed&nbsp;
            label
                input(type="radio", name="test", value="failed")
                | Failed
        #children
            +methodTable(allTests)
        #passedChildren(style="display:none")
            +methodTable(passedTests)
        #failedChildren(style="display:none")
            +methodTable(failedTests)
        script(type="text/javascript", nonce="check").
            document.addEventListener("DOMContentLoaded", () => {
                const elements = [...document.getElementsByTagName("input")];
                elements.forEach((element) => element.addEventListener("change", check));
            });
            function check(event) {
                const radio = event.target;
                const v = radio.value;
                const all = document.getElementById("children");
                const passed = document.getElementById("passedChildren");
                const failed = document.getElementById("failedChildren");
                if (v === "all") {
                    all.removeAttribute("style");
                    passed.style.display = "none";
                    failed.style.display = "none";
                } else if (v === "passed") {
                    passed.removeAttribute("style");
                    all.style.display = "none";
                    failed.style.display = "none";
                } else if (v === "failed") {
                    failed.removeAttribute("style");
                    passed.style.display = "none";
                    all.style.display = "none";
                }
            }



