include /report_method_table.pug
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content="default-src vscode-resource:; img-src vscode-resource:; style-src vscode-resource: 'unsafe-inline'; script-src vscode-resource: 'unsafe-inline';")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        style
            include /css/report.css
        script(nonce="check", src=`${resourceBaseUri}/js/jquery-3.3.1.slim.min.js`, integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(nonce="check", src=`${resourceBaseUri}/js/popper.min.js`, integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(nonce="check", src=`${resourceBaseUri}/js/bootstrap.min.js`, integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
        script.
            $(() => {
                const vscode = acquireVsCodeApi();
                $('.list-group-item a').click((e) => {
                    const $this = $(e.currentTarget);
                    vscode.postMessage({
                        command: 'java.test.open.document',
                        uri: $this.attr('uri'),
                        range: $this.attr('range'),
                        fullName: $this.attr('fullName'),
                    });
                    return false;
                });
            });

    body.container-fluid
        ul.nav.nav-pills.mt-3(role='tablist')
            li.nav-item
                button.btn.btn-sm.btn-info.active(id='all-tab', data-toggle='pill', href='#all', role='tab', aria-controls='all') All
                    span.badge.badge-light.ml-2 #{allCount}
            if failedCount
                li.nav-item
                    button.btn.btn-sm.btn-danger.ml-3(id='fail-tab', data-toggle='pill', href='#fail', role='tab', aria-controls='fail') Failed
                        span.badge.badge-light.ml-2 #{failedCount}
            if passedCount
                li.nav-item
                    button.btn.btn-sm.btn-success.ml-3(id='pass-tab', data-toggle='pill', href='#pass', role='tab', aria-controls='pass') Passed
                        span.badge.badge-light.ml-2 #{passedCount}

        div.tab-content.mt-3
            div.tab-pane.fade.show.active(id='all', role='tabpanel', aria-labelledby='all-tab')
                +collapseMethodTable(tests, 'detail-all')
            if failedCount
                div.tab-pane.fade(id='fail', role='tabpanel', aria-labelledby='fail-tab')
                    +collapseMethodTable(failedTests, 'detail-fail')
            if passedCount
                div.tab-pane.fade(id='pass', role='tabpanel', aria-labelledby='pass-tab')
                    +collapseMethodTable(passedTests, 'detail-pass')
