include ./report_method_table.pug
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content="default-src 'none'; img-src vscode-resource:; style-src vscode-resource: 'unsafe-inline'; script-src vscode-resource: https:;")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", nonce="check", href=cssFile)
        script(nonce="check", src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(nonce="check", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
        script(nonce="check", src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
    body.container-fluid
        ul.nav.nav-pills.mt-3(role='tablist')
            li.nav-item
                button.btn.btn-sm.btn-info.active(id='all-tab', data-toggle='pill', href='#all', role='tab', aria-controls='all') All
                    span.badge.badge-light.ml-2 #{allCount}
            if failedCount
                li.nav-item
                    button.btn.btn-sm.btn-danger.ml-3(id='fail-tab', data-toggle='pill', href='#fail', role='tab', aria-controls='fail') Failed
                        span.badge.badge-light.ml-2 #{failedCount}
            if passedCount
                li.nav-item
                    button.btn.btn-sm.btn-success.ml-3(id='pass-tab', data-toggle='pill', href='#pass', role='tab', aria-controls='pass') Passed
                        span.badge.badge-light.ml-2 #{passedCount}

        div.tab-content.mt-3
            div.tab-pane.fade.show.active(id='all', role='tabpanel', aria-labelledby='all-tab')
                +collapseMethodTable(tests, 'detail-all')
            if failedCount
                div.tab-pane.fade(id='fail', role='tabpanel', aria-labelledby='fail-tab')
                    +collapseMethodTable(failedTests, 'detail-fail')
            if passedCount
                div.tab-pane.fade(id='pass', role='tabpanel', aria-labelledby='pass-tab')
                    +collapseMethodTable(passedTests, 'detail-pass')
