include /report_method_table.pug
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy" content=`default-src 'none'; style-src 'nonce-${nonce}'; script-src 'nonce-${nonce}'; img-src ${cspSource}`)
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        style(nonce=`${nonce}`)
            include /css/report.css
        script(nonce=`${nonce}`, src=`${resourceBaseUri}/js/jquery-3.5.1.slim.min.js`, integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(nonce=`${nonce}`, src=`${resourceBaseUri}/js/bootstrap.bundle.min.js`, integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns", crossorigin="anonymous")
        script(nonce=`${nonce}`).
            $(() => {
                const vscode = acquireVsCodeApi();
                $('.list-group-item a[title="Navigate to Source"]').click((e) => {
                    const $this = $(e.currentTarget);
                    vscode.postMessage({
                        command: 'java.test.open.document',
                        uri: $this.attr('uri'),
                        range: $this.attr('range'),
                        fullName: $this.attr('fullName'),
                    });
                    return false;
                });

                $('code.word-break-all a').click((e) => {
                    const $this = $(e.currentTarget);
                    vscode.postMessage({
                        command: 'java.test.report.openStackTrace',
                        fullName: $this.attr('fullName'),
                        trace: $this.attr('trace'),
                    });
                    return false;
                });

                $('#relaunch-tab').click((e) => {
                    vscode.postMessage({
                        command: 'java.test.relaunch',
                    });
                    return false;
                });

                //- rotate the arrow icon in accordion
                $(".collapse").on('show.bs.collapse', function(){
                    $(this).parent().find("svg").first().addClass("rotate");
                }).on('hide.bs.collapse', function(){
                    $(this).parent().find("svg").first().removeClass("rotate");
                });

                $(document).keydown(function(event) {
                    if (event.which === 27) {
                        let detailCollapse = $(':focus').closest("div.collapse[id$='detail']");
                        if (detailCollapse.length === 0) {
                            $('div.collapse').collapse('hide');
                        } else {
                            detailCollapse.collapse('hide');
                            detailCollapse.closest("li.list-group-item-action").find("a.method-link").focus();
                        }
                    }
                });
            });

    body.container-fluid
        ul.nav.nav-pills.mt-3(role='tablist')
            li.nav-item.d-inline-flex
                button.btn.btn-sm.btn-info.active.mr-2.mb-2(id='all-tab', data-toggle='pill', href='#all', role='tab', aria-controls='all') All
                    span.badge.badge-light.ml-2 #{allCount}
            if failedCount
                li.nav-item.d-inline-flex
                    button.btn.btn-sm.btn-danger.mr-2.mb-2(id='fail-tab', data-toggle='pill', href='#fail', role='tab', aria-controls='fail') Failed
                        span.badge.badge-light.ml-2 #{failedCount}
            if passedCount
                li.nav-item.d-inline-flex
                    button.btn.btn-sm.btn-success.mr-2.mb-2(id='pass-tab', data-toggle='pill', href='#pass', role='tab', aria-controls='pass') Passed
                        span.badge.badge-light.ml-2 #{passedCount}
            if skippedCount
                li.nav-item.d-inline-flex
                    button.btn.btn-sm.btn-secondary.mr-2.mb-2(id='skip-tab', data-toggle='pill', href='#skip', role='tab', aria-controls='skip') Skipped
                        span.badge.badge-light.ml-2 #{skippedCount}
            li.nav-item.d-inline-flex
                button.btn.btn-sm.btn-dark.mb-2(id='relaunch-tab', data-toggle='tooltip' data-placement='bottom' title='Relaunch the tests')
                    include /images/debug-restart.svg

        span(aria-label="The below part contains collapsible components to show the stacktrace of failed methods. If you want to collapse the expanded view, you can press ESC.", tabindex="0")

        div.tab-content
            div.tab-pane.fade.show.active(id='all', role='tabpanel', aria-labelledby='all-tab')
                +collapseMethodTable(tests, 'detail-all')
            if failedCount
                div.tab-pane.fade(id='fail', role='tabpanel', aria-labelledby='fail-tab')
                    +collapseMethodTable(failedTests, 'detail-fail')
            if passedCount
                div.tab-pane.fade(id='pass', role='tabpanel', aria-labelledby='pass-tab')
                    +collapseMethodTable(passedTests, 'detail-pass')
            if skippedCount
                div.tab-pane.fade(id='skip', role='tabpanel', aria-labelledby='skip-tab')
                    +collapseMethodTable(skippedTests, 'detail-skip')
